{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false, 
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }],
        ["import", {
            "style": true,
            "libraryName": "antd"
        }],
        "syntax-dynamic-import",
        "react-html-attrs",
        "jsx-control-statements",
        "transform-runtime",
        "transform-decorators-legacy"
    ]
}